<!DOCTYPE html>

<html>

    <head>
        <title>INICIO</title>
    </head>
    
    <body bgcolor="#ffcc99">
        <p>texto</p>

        <form action="/action_page.php" method="get">
            <label for="tname">task Name: </label>
            <input type="text" id="tname" name="tname"><br><br>
            <label for="tduration">task Duration: </label>
            <input type="text" id="tduration" name="tduration"><br><br>
            <input type="submit" value="create task!">
        </form> 

    </body>



</html>